body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 64px;
}

.right {
    color: white;
    
    
    background-color:#1C2541 ;
}

#playfull-bar .row{
    margin-top: 6rem;
}

/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/
#header {
	transition: all 0.5s;
	z-index: 997;
	padding: 1rem;
}
#header .logo {
	font-size: 28px;
	margin: 0;
	padding: 0;
	font-weight: 600;
	letter-spacing: 1px;
}
#header .logo a {
	color: #fff;
}
#header .logo img {
	max-height: 40px;
}
#header.header-scrolled {
	background: rgba(0, 0, 0, 0.9);
	padding: 0.6rem;
}

/*--------------------------------------------------------------
# Navigation Menu
--------------------------------------------------------------*/
/**
* Desktop Navigation 
*/
.navbar {
	padding: 0;
}
.navbar ul {
	margin: 0;
	padding: 0;
	display: flex;
	list-style: none;
	align-items: center;
}

.navbar li {
	position: relative;
}
.navbar > ul > li {
	white-space: nowrap;
	padding: 10px 0 10px 30px;
}
.navbar a,
.navbar a:focus {
	display: flex;
	align-items: center;
    justify-content: center;
	color: #fff;
    font-size: 1.2rem;
	font-weight: 600;
	padding: 0;
	white-space: nowrap;
	transition: 0.3s;
	letter-spacing: 0.4px;
	position: relative;
	text-transform: uppercase;
}
.navbar a i,
.navbar a:focus i {
	font-size: 12px;
	line-height: 0;
	margin-left: 5px;
}
.navbar > ul > li > a:before {
	content: "";
	position: absolute;
	width: 100%;
	height: 2px;
	bottom: -6px;
	left: 0;
	width: 0;
	background-color: #6FFFE9;
	visibility: hidden;
	transition: all 0.3s ease-in-out 0s;
}
.navbar a:hover:before,
.navbar li:hover > a:before,
.navbar .active:before {
	visibility: visible;
	width: 80%;
}
.navbar a:hover,
.navbar .active,
.navbar .active:focus,
.navbar li:hover > a {
	color: #6FFFE9;
}
.navbar .dropdown ul {
	display: block;
	position: absolute;
	left: 30px;
	top: calc(100% + 30px);
	margin: 0;
	padding: 10px 0;
	z-index: 99;
	opacity: 0;
	visibility: hidden;
	background: #fff;
	box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
	transition: 0.3s;
}
.navbar .dropdown ul li {
	min-width: 200px;
}
.navbar .dropdown ul a {
	padding: 10px 20px;
	font-size: 14px;
	text-transform: none;
	color: #4e4e4e;
}
.navbar .dropdown ul a i {
	font-size: 12px;
}
.navbar .dropdown ul a:hover,
.navbar .dropdown ul .active:hover,
.navbar .dropdown ul li:hover > a {
	color: #6FFFE9;
}
.navbar .dropdown:hover > ul {
	opacity: 1;
	top: 100%;
	visibility: visible;
}
.navbar .dropdown .dropdown ul {
	top: 0;
	left: calc(100% - 30px);
	visibility: hidden;
}
.navbar .dropdown .dropdown:hover > ul {
	opacity: 1;
	top: 0;
	left: 100%;
	visibility: visible;
}
@media (max-width: 1366px) {
	.navbar .dropdown .dropdown ul {
		left: -90%;
	}
	.navbar .dropdown .dropdown:hover > ul {
		left: -100%;
	}
}
@media (max-width: 990px) {
	.navbar ul {
		height: 224px;
	}
}

/**
* Mobile Navigation 
*/
.mobile-nav-toggle {
	color: #fff;
	font-size: 28px;
	cursor: pointer;
	display: none;
	line-height: 0;
	transition: 0.5s;
}

@media (max-width: 991px) {
	.mobile-nav-toggle {
		display: block;
	}

	.navbar ul {
		display: none;
	}
}
@media (max-width: 768px) {
	#ulsocials {
		text-align: center;
	}
}
.navbar-mobile {
	position: fixed;
	overflow: hidden;
	top: 0;
	right: 0;
	left: 0;
	bottom: 0;
	background: rgba(78, 78, 78, 0.9);
	transition: 0.3s;
	z-index: 999;
}
.navbar-mobile .mobile-nav-toggle {
	position: absolute;
	top: 15px;
	right: 15px;
}
.navbar-mobile ul {
	display: block;
	position: absolute;
	top: 55px;
	right: 15px;
	bottom: 15px;
	left: 15px;
	padding: 10px 0;
	background-color: #0B132B;
	overflow-y: auto;
	transition: 0.3s;
}
.navbar-mobile > ul > li {
	padding: 0;
}
.navbar-mobile a:hover:before,
.navbar-mobile li:hover > a:before,
.navbar-mobile .active:before {
	visibility: hidden;
}
.navbar-mobile a,
.navbar-mobile a:focus {
	padding: 10px 20px;
	font-size: 15px;
	color: #787878;
}
.navbar-mobile a:hover,
.navbar-mobile .active,
.navbar-mobile li:hover > a {
	color: #6FFFE9;
}
.navbar-mobile .getstarted,
.navbar-mobile .getstarted:focus {
	margin: 15px;
}
.navbar-mobile .dropdown ul {
	position: static;
	display: none;
	margin: 10px 20px;
	padding: 10px 0;
	z-index: 99;
	opacity: 1;
	visibility: visible;
	background: #fff;
	box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
}
.navbar-mobile .dropdown ul li {
	min-width: 200px;
}
.navbar-mobile .dropdown ul a {
	padding: 10px 20px;
}
.navbar-mobile .dropdown ul a i {
	font-size: 12px;
}
.navbar-mobile .dropdown ul a:hover,
.navbar-mobile .dropdown ul .active:hover,
.navbar-mobile .dropdown ul li:hover > a {
	color: #6FFFE9;
}
.navbar-mobile .dropdown > .dropdown-active {
	display: block;
}

/* Footer */
.col-3 img{
    cursor: pointer;
}

.footer {
    background-color: #898989;
}

#footer {
    color: white;
    background-color: #898989;
    font-size: 25px;
    font-weight: bold;
}

.footer-button {
    transition: 0.3s;
    background-color: #898989;
    border: 0;
    font-weight: 700;
    color: #070C1C;
}

.footer-button:hover {
    transform: translateY(-2px);
    color: white;
}

.HIRED-US {
  transition: color 0.25s, border-color 0.25s, box-shadow 0.25s,transform 0.25s;
    background-color: #070C1C;
    color: white;
 	 border: 2px solid;
    border-radius: 90px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 18px;
    padding-right: 18px;
}

.HIRED-US:hover {
    color: #6FFFE9;
  	border-color: #6FFFE9;
  	box-shadow: 0 0.5em 0.5em -0.4em #6FFFE9;
    transform: translateY(-5px);
}

.row .footer-button-2{
    background-color: #898989;
	cursor: default;
    border: 0;
    color: #070C1C;
    font-weight: 400;
}


