
::-webkit-scrollbar {
  display: none;
}
/*--------------------------------------------------------------
# General
--------------------------------------------------------------*/
body {
	color: black;
	background-color: #070C1C;
	margin: 0;
	padding: 0;
}

/*--------------------------------------------------------------
# Mine
--------------------------------------------------------------*/
.navbar-brand img{
	width: 4rem ;
	height: 3rem ;
}

#ENG{
	color: #6FFFE9;
}

#GR{
	color: white;
}

.color-cyan{
	color: #6FFFE9;
}

#high{
	color: #6FFFE9;
}

.contact-button {
  font-size: 1.5rem;
  background-color: #6FFFE9;
  border-radius: 50px;
	-webkit-user-select: none;
	-moz-user-select: none;
	user-select: none;
  padding: 15px 25px;
  color: black;
  font-weight: bold;
  margin-left: 0rem;
  margin-top: 2rem;
}

.hero-subtext{
	color: white;
	font-size: 1.35rem;
	border-bottom: 0.2rem solid #6FFFE9;
	writing-mode: horizontal-tb;
	width: fit-content;
	background-color: rgba(78, 78, 78, 0.5);
	padding: 4px 10px 4px;
	border-radius: 8%;
}

@media (max-width: 600px)  {
    
  .hero-subtext, .hero-title{
	font-size: 2rem;
  }
}

/* About Section*/
#about{
	background-color: #0B132B;
	color: white;
}

#about-us-text{
    padding-right: 2rem;
}

.about-title{
	margin-top: 5rem;
	font-size: 4rem;
	border-bottom: 0.2rem solid white;
	width: fit-content;
}

.about-par{
   margin-top: 3rem;
   text-align: justify;
   margin-bottom: 5rem;
}

.about-des1{
	border-bottom: 0.2rem solid white;
	width: fit-content;
}

.about-des2{
	width: fit-content;
	color: #6FFFE9;
}

.hired-button{
	display: block;
  font-size: 2rem;
  background-color: #6FFFE9;
  border-radius: 50px;
  padding: 20px 30px;
  color: #0B132B;
  width: 600px;
  font-weight: bold;
  transform: translateX(-70%);
  margin-top: 4.6rem;
  margin-bottom: 11rem;
  text-align: right;
  padding-right: 33px;
}

.hired-button:hover{
	transform: translateX(-60%);
}
/*
.flex-container {
  display: flex;
  flex-direction: column;
}

.display-none{
	display: none;
}

@media (min-width: 576px) {
  #about-us-text {
    order: 1;
  }
  .video-container {
    order: 2;
  }
}*/
.video-container {
  position: relative;
  overflow: hidden;
  height: 0;
  padding-bottom: 56.25%; /*56.25 calculate by aspect ratio (h / w * 100%) */
}
.video-container video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
@media (max-width: 786px) {
	.video-container #video-controls {
		bottom: 0;
	}
}
@media (max-width: 600px) {
	.video-container video {
		top: 0;
	}
}


#video-controls {
  position: absolute;
  bottom: 50px;
  left: 0;
  right: 0;
  height: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  background-color: rgba(0, 0, 0, 0.7);
  color: #fff;
  font-size: 14px;
  font-family: sans-serif;
}

#mute-span ,
#pause-span{
	cursor: pointer;
	font-size: 0.9rem;
	font-weight: 100;
}
#mute-span:hover ,
#pause-span:hover{
	color: #6FFFE9;
}


/* End About Section*/

/* Portfolio Section*/
#projects{
	background-color: #070C1C;
	color: white;
	text-align: center;
}

/* add styles for the active image-container */
.projects-title{
  margin-top: 1rem;
  font-size: 4rem;
  margin-bottom: 2rem;
}

.image-stack {
  display: flex;
  flex-direction: column;
}

.image-container {
  position: relative;
  display: block;
  margin-bottom: 20px;
  border-radius: 10px;
  box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.3);
}

.image-container img {
  width: 50%;
  object-fit: cover;
  clip-path: polygon(0 0, 100% 0, 100% 70%, 0 70%);
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  transition: all 1s ease-out; /* add transition property here */
}

.image-container.hover img,
.image-container.active img {
  z-index: 55;
  scale: 1.1;
}


.overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.5);
  color: #fff;
  padding: 10px;
  opacity: 0;
  margin-right: 6rem;
  transition: opacity 0.3s ease-in-out;
  z-index: 2;
  width: 16rem;
  border-radius: 5rem;
}

#image-1 div{
  bottom: -4rem;
}

#image-2 img{
  top: 1rem;
  left: 4rem;
}

#image-2 div{
  bottom: -7.5rem;
}

#image-3 img{
  top: 2rem;
  left: 8rem;
}

#image-3 div{
  bottom: -11rem;
}

#image-4 img{
  top: 3rem;
  left: 12rem;
}

#image-4 div{
  bottom: -14.5rem;
}

#image-5 img{
  top: 4rem;
  left: 16rem;
}

#image-5 div{
bottom: -18rem;
}

@media (max-width: 600px) {
	#image-1 div,#image-2 div,#image-3 div,#image-4 div,#image-5 div{
		display: none;
	}

	#image-2 img{
	top: 1rem;
	left: 3rem;
	}

	#image-3 img{
	top: 2rem;
	left: 6rem;
	}

	#image-4 img{
	top: 3rem;
	left: 8rem;
	}

	#image-5 img{
	top: 4rem;
	left: 10rem;
	}
	.image-stack .projects-button {
    	margin-top: 12rem;
    	transform: translateX(-10%);
	}
	#hwork {
    	padding: 0;
	}
}

.overlay a {
  color: #fff;
}

.projects-button{
  font-size: 1.5rem;
  background-color: #6FFFE9;
  border-radius: 50px;
  padding: 15px 25px;
  border: none;
  color: #0B132B;
  width: 300px;
  font-weight: bold;
  transform: translateX(-20%);
  margin-top: 18rem;
  padding-right: 33px;
}

.image-container:hover .overlay {
  opacity: 1;
  /*transform: translateX(0%);*/
}

.space{
  background-color: #070C1C;
}
/* End Portfolio Section*/

/*How we Work*/

#hwork{
  background-color: #070C1C;
  color: white;
  text-align: center;
}

.hwork-title{
  font-size: 2.5rem;
  margin-top: 8rem;
  margin-bottom: 4rem;
}

.hwork-button{
	display: block;
    font-size: 2rem;
  background-color: #6FFFE9;
  border-radius: 50px;
  padding: 15px 25px;
  border: none;
  color: black;
  font-weight: bold;
  margin-left: 0rem;
  margin-top: 2rem;
  margin-bottom: 4rem;
  width: fit-content; /* to make the button take the width of its content */
}

/*Button*/
.wrapper{
  position: relative;
  display: inline-block;
  vertical-align: middle;
}

.link_wrapper{
  position: relative;
}

.hwork-a{
  display: inline-block; 
  width: 250px;
  height: 50px;
  line-height: 50px;
  font-weight: bold;
  text-decoration: none;
  background: #333;
  text-align: center;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 1px;
  border: 3px solid #333;
  transition: all .35s;
  margin-left: 1rem; 
  vertical-align: middle; 
}

.icon{
  width: 50px;
  height: 50px;
  border: 3px solid transparent;
  position: absolute;
  transform: rotate(45deg);
  right: 0;
  top: 0;
  z-index: -1;
  transition: all .35s;
}

.icon svg{
  width: 30px;
  position: absolute;
  top: calc(5%);
  left: calc(5%);
  transform: rotate(-45deg);
  fill: #6FFFE9;
  transition: all .35s;
}

.hwork-a:hover{
  width: 200px;
  border: 3px solid #6FFFE9;
  background: transparent;
  color: #6FFFE9;
}

.hwork-a:hover + .icon{
  border: 3px solid #6FFFE9;
  right: -25%;
}
/*Button*/
.hwork-title span{
  color: #6FFFE9;
}

.hwork-par{
	font-size: 1.2rem;
  color: #c6c6c6;
  padding-bottom: 11rem;

}
/*End How we Work*/
.logo{
  display: block;
}
 /*--------------------------------------------------------------
# End Mine
--------------------------------------------------------------*/
a {
	color: #1e1e1e;
	text-decoration: none;
	transition: all 0.5s ease-in-out;
}

a:hover {
	color: #6FFFE9;
	text-decoration: none;
	transition: all 0.5s ease-in-out;
}

.p-r {
	position: relative;
}

.lead{
	font-family:'Outfit', sans-serif;
	font-weight: 400;
    font-size: 1.06rem;
    color: black;
    text-align: justify;
}

.color-a {
	text-decoration: none;
	color: #6FFFE9;
}

.color-d {
	color: #f5f5f5;
}

.color-text-a {
	text-decoration: none;
	color: #4e4e4e;
}

.box-shadow,
.card-blog,
.work-box,
.service-box,
.paralax-mf {
	box-shadow: 0 13px 8px -10px rgba(0, 0, 0, 0.1);
}

.box-shadow-a,
.button:hover {
	text-decoration: none;
	box-shadow: 0 0 0 4px #cde1f8;
}

.display-5 {
	font-size: 2.5rem;
	font-weight: 300;
	line-height: 1.1;
}

.display-6 {
	font-size: 2rem;
	font-weight: 300;
	line-height: 1.1;
}

.avatar {
	width: 32px;
	height: 32px;
	margin-right: 4px;
	overflow: hidden;
}

.bg-image {
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
	background-position: center center;
}

@media (max-width: 1024px) {
	.bg-image {
		background-attachment: scroll;
	}
}

.overlay-mf {
	background-color: #6FFFE9;
}

.overlay-mf {
	position: absolute;
	top: 0;
	left: 0px;
	padding: 0;
	height: 100%;
	width: 100%;
	opacity: 0.7;
}

.paralax-mf {
	position: relative;
	padding: 8rem 0;
}

.display-table {
	width: 100%;
	height: 100%;
	display: table;
}

.table-cell {
	display: table-cell;
	vertical-align: middle;
}

/*--/ Sections /--*/
.sect-4 {
	padding: 4rem 0;
}

.sect-pt4 {
	padding-top: 4rem;
}

.sect-mt4 {
	margin-top: 4rem;
}

/*--/ Title s /--*/
.title-s {
	font-weight: 600;
	color: #1e1e1e;
	font-size: 1.1rem;
}

/*--/ Title A /--*/
.title-box {
	margin-bottom: 4rem;
}

.title-a {
	text-decoration: none;
	font-size: 3rem;
	font-weight: bold;
	text-transform: uppercase;
	color: #6FFFE9;
}

.subtitle-a {
	text-decoration: none;
	color: #6FFFE9;
}

.line-mf {
	width: 100px;
	height: 5px;
	background-color: #6FFFE9;
	margin: 0 auto;
}

/*--/ Title Left /--*/
.title-box-2 {
	margin-bottom: 3rem;
}

.title-left {
	font-size: 2rem;
	position: relative;
}

.title-left:before {
	content: "";
	position: absolute;
	height: 3px;
	background-color: #6FFFE9;
	width: 100px;
	bottom: -12px;
}

/*------/ Box /------*/
.box-pl2 {
	padding-left: 2rem;
}

.box-shadow-full {
	padding: 3rem 1.25rem;
	position: relative;
	background-color: rgb(255, 255, 255);
	margin-bottom: 3rem;
	z-index: 2;
	box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.06), 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
@media (min-width: 768px) {
	.box-shadow-full {
		padding: 3rem;
	}
}

/*------/ Ul resect /------*/
.ul-resect,
.widget-tags ul,
.widget-sidebar .list-sidebar,
.box-comments .list-comments,
.blog-wrapper .post-meta ul,
.list-ico,
.socials ul {
	list-style: none;
	padding-left: 0;
	margin-bottom: 0;
}

.list-ico {
	line-height: 2;
}
.list-ico span {
	color: #6FFFE9;
	margin-right: 10px;
}

/*--------------------------------------------------------------
# Back to top button
--------------------------------------------------------------*/
.back-to-top {
	position: fixed;
	visibility: hidden;
	opacity: 0;
	right: 15px;
	bottom: 15px;
	z-index: 996;
	background: #6FFFE9;
	width: 40px;
	height: 40px;
	border-radius: 50px;
	transition: all 0.4s;
}
.back-to-top i {
	font-size: 28px;
	color: #fff;
	line-height: 0;
}
.back-to-top:hover {
	background: #070C1C;
	color: #fff;
}
.back-to-top.active {
	visibility: visible;
	opacity: 1;
}

/*------/ Prelaoder /------*/
#preloader {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 9999;
	overflow: hidden;
	background: #fff;
}

#preloader:before {
	content: "";
	position: fixed;
	top: calc(50% - 30px);
	left: calc(50% - 30px);
	border: 6px solid #f2f2f2;
	border-top: 6px solid #6FFFE9;
	border-radius: 50%;
	width: 60px;
	height: 60px;
	-webkit-animation: animate-preloader 1s linear infinite;
	animation: animate-preloader 1s linear infinite;
}

@-webkit-keyframes animate-preloader {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}

@keyframes animate-preloader {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}
/*------/ Button /------*/

.button-all {
	display: inline-block;
	border: 0.25rem solid transparent;
	transition: all 1000ms ease;
}
.button-all:focus {
	outline: 0;
}
.button-all:hover {
	background-color: transparent;
	transition: all 1000ms ease;
	border: 0.25rem solid #6FFFE9;
}

.button-all a {
	text-decoration: none;
	color: black;
	border-color: #cde1f8;
}
.button-all a:hover {
	color: #6FFFE9;
}

.button-big {
	padding: 0.9rem 2.3rem;
	font-size: 1.2rem;
}

.button-rouded {
	border-radius: 5rem;
}

.btn-lg {
	padding: 0.5rem 1rem;
	font-size: 1.25rem;
	line-height: 1.5;
	border-radius: 0.3rem;
}

/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/
#header {
	transition: all 0.5s;
	z-index: 997;
	padding: 20px 0;
}
#header .logo {
	font-size: 28px;
	margin: 0;
	padding: 0;
	font-weight: 600;
	letter-spacing: 1px;
}
#header .logo a {
	color: #fff;
}
#header .logo img {
	max-height: 40px;
}
#header.header-scrolled {
	background: rgba(0, 0, 0, 0.9);
	padding: 12px 0;
}

/*--------------------------------------------------------------
# Navigation Menu
--------------------------------------------------------------*/
/**
* Desktop Navigation 
*/
.navbar {
	padding: 0;
}
.navbar ul {
	margin: 0;
	padding: 0;
	display: flex;
	list-style: none;
	align-items: center;
}

.navbar li {
	position: relative;
}
.navbar > ul > li {
	white-space: nowrap;
	padding: 10px 0 10px 30px;
}
.navbar a,
.navbar a:focus {
	display: flex;
	align-items: center;
	justify-content: space-between;
	color: #fff;
    font-size: 1.2rem;
	font-weight: 600;
	padding: 0;
	white-space: nowrap;
	transition: 0.3s;
	letter-spacing: 0.4px;
	position: relative;
	text-transform: uppercase;
}
.navbar a i,
.navbar a:focus i {
	font-size: 12px;
	line-height: 0;
	margin-left: 5px;
}
.navbar > ul > li > a:before {
	content: "";
	position: absolute;
	width: 100%;
	height: 2px;
	bottom: -6px;
	left: 0;
	width: 0;
	background-color: #6FFFE9;
	visibility: hidden;
	transition: all 0.3s ease-in-out 0s;
}
.navbar a:hover:before,
.navbar li:hover > a:before,
.navbar .active:before {
	visibility: visible;
	width: 80%;
}
.navbar a:hover,
.navbar .active,
.navbar .active:focus,
.navbar li:hover > a {
	color: #6FFFE9;
}
.navbar .dropdown ul {
	display: block;
	position: absolute;
	left: 30px;
	top: calc(100% + 30px);
	margin: 0;
	padding: 10px 0;
	z-index: 99;
	opacity: 0;
	visibility: hidden;
	background: #fff;
	box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
	transition: 0.3s;
}
.navbar .dropdown ul li {
	min-width: 200px;
}
.navbar .dropdown ul a {
	padding: 10px 20px;
	font-size: 14px;
	text-transform: none;
	color: #4e4e4e;
}
.navbar .dropdown ul a i {
	font-size: 12px;
}
.navbar .dropdown ul a:hover,
.navbar .dropdown ul .active:hover,
.navbar .dropdown ul li:hover > a {
	color: #6FFFE9;
}
.navbar .dropdown:hover > ul {
	opacity: 1;
	top: 100%;
	visibility: visible;
}
.navbar .dropdown .dropdown ul {
	top: 0;
	left: calc(100% - 30px);
	visibility: hidden;
}
.navbar .dropdown .dropdown:hover > ul {
	opacity: 1;
	top: 0;
	left: 100%;
	visibility: visible;
}
@media (max-width: 1366px) {
	.navbar .dropdown .dropdown ul {
		left: -90%;
	}
	.navbar .dropdown .dropdown:hover > ul {
		left: -100%;
	}
}
@media (max-width: 990px) {
	.navbar ul {
		height: 190px;
	}
}

/**
* Mobile Navigation 
*/
.mobile-nav-toggle {
	color: #fff;
	font-size: 28px;
	cursor: pointer;
	display: none;
	line-height: 0;
	transition: 0.5s;
}

@media (max-width: 991px) {
	.mobile-nav-toggle {
		display: block;
	}

	.navbar ul {
		display: none;
	}
}
@media (max-width: 768px) {
	#ulsocials {
		text-align: center;
	}
}
.navbar-mobile {
	position: fixed;
	overflow: hidden;
	top: 0;
	right: 0;
	left: 0;
	bottom: 0;
	background: rgba(78, 78, 78, 0.9);
	transition: 0.3s;
	z-index: 999;
}
.navbar-mobile .mobile-nav-toggle {
	position: absolute;
	top: 15px;
	right: 15px;
}
.navbar-mobile ul {
	display: block;
	position: absolute;
	top: 55px;
	right: 15px;
	bottom: 15px;
	left: 15px;
	padding: 10px 0;
	background-color: #fff;
	overflow-y: auto;
	transition: 0.3s;
}
.navbar-mobile > ul > li {
	padding: 0;
}
.navbar-mobile a:hover:before,
.navbar-mobile li:hover > a:before,
.navbar-mobile .active:before {
	visibility: hidden;
}
.navbar-mobile a,
.navbar-mobile a:focus {
	padding: 10px 20px;
	font-size: 15px;
	color: #4e4e4e;
}
.navbar-mobile a:hover,
.navbar-mobile .active,
.navbar-mobile li:hover > a {
	color: #6FFFE9;
}
.navbar-mobile .getstarted,
.navbar-mobile .getstarted:focus {
	margin: 15px;
}
.navbar-mobile .dropdown ul {
	position: static;
	display: none;
	margin: 10px 20px;
	padding: 10px 0;
	z-index: 99;
	opacity: 1;
	visibility: visible;
	background: #fff;
	box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
}
.navbar-mobile .dropdown ul li {
	min-width: 200px;
}
.navbar-mobile .dropdown ul a {
	padding: 10px 20px;
}
.navbar-mobile .dropdown ul a i {
	font-size: 12px;
}
.navbar-mobile .dropdown ul a:hover,
.navbar-mobile .dropdown ul .active:hover,
.navbar-mobile .dropdown ul li:hover > a {
	color: #6FFFE9;
}
.navbar-mobile .dropdown > .dropdown-active {
	display: block;
}

/*--------------------------------------------------------------
# Hero Section
--------------------------------------------------------------*/
.hero {
	height: 100vh;
	position: relative;
	color: #6FFFE9;
}
.hero .hero-content {
	position: absolute;
}
.hero .overlay-itro {
	background-color: rgba(0, 0, 0, 0.75);
	position: absolute;
	top: 0;
	left: 0px;
	padding: 0;
	height: 100%;
	width: 100%;
	opacity: 0.9;
}
.hero .hero-title {
	color: #fff;
	font-weight: 300;
	font-size: 3rem;
	font-family: 'Kaisei Opti', serif;
}
@media (min-width: 768px) {
	.hero .hero-title {
		font-size: 4rem;
	}
}
.hero .hero-subtitle {
	font-size: 3rem;
	font-weight: 300;
	color: white;
	font-family: 'Kaisei Opti', serif;
}
@media (min-width: 768px) {
	.hero .hero-subtitle {
		font-size: 4rem;
	}
}
.hero .text-slider-items {
	display: none;
}

.hero-single {
	height: 350px;
}
.hero-single .hero-content {
	margin-top: 30px;
}
.hero-single .hero-title {
	text-transform: uppercase;
	font-size: 3rem;
}
@media (min-width: 768px) {
	.hero-single .hero-title {
		font-size: 3.5rem;
	}
}

@media (max-width: 768px) {
	#container-hero .hero-subtitle {
		font-size: 2rem;
	}

	#container-hero .hero-title {
		font-size: 2rem;
	}
	#container-hero .hero-subtext{
		font-size: 1.2rem;
	}
	#container-hero .contact-button{
		font-size: 1.2rem;
	}
	#about-us-text .about-title{
    	font-size: 3rem;
	}
	#about-us-text .hired-button{
    	font-size: 1.5rem;
		transform: translateX(-20%);
		width: 250px;
    	margin-bottom: 4rem;
	}
	.container .projects-title{
		font-size: 3rem;
	}
	.container .projects-button{
    	font-size: 1.5rem;
	}
	#video-controls #mute-span,#video-controls #pause-span {
    	font-size: 0.7rem;
	}
	.container .hwork-title{
		font-size: 1.5rem;
	}
	.container .hwork-button{ 
   	 margin-top: 2rem;
    margin-bottom: 5rem;
		font-size: 1.5rem;
	}

	.container .hwork-par{
		font-size: 1rem;
    	padding-bottom: 13rem;
	}
	.hwork-title br {
    	display: none;
  	}
}


.hero-single .breadcrumb {
	background-color: transparent;
	color: #6FFFE9;
}
.hero-single .breadcrumb .breadcrumb-item:before {
	color: #cde1f8;
}
.hero-single .breadcrumb .breadcrumb-item.active {
	color: #cde1f8;
}
.hero-single .breadcrumb a {
	color: #fff;
}

/*--------------------------------------------------------------
# Scroll-down
--------------------------------------------------------------*/
.scroll-down {
  height: 50px;
  width: 30px;
  border: 2px solid #6FFFE9;
  position: absolute;
  left: 50%;
  bottom: 20px;
  border-radius: 50px;
  cursor: pointer;
}
.scroll-down::before,
.scroll-down::after {
  content: "";
  position: absolute;
  top: 20%;
  left: 50%;
  height: 10px;
  width: 10px;
  transform: translate(-50%, -100%) rotate(45deg);
  border: 2px solid #6FFFE9;
  border-top: transparent;
  border-left: transparent;
  animation: scroll-down 1s ease-in-out infinite;
}
.scroll-down::before {
  top: 30%;
  animation-delay: 0.3s;
  /* animation: scroll-down 1s ease-in-out infinite; */
}

@media (max-width: 426px) {
	.scroll-down {
		left: 46.5%;
  		bottom: 9%;
	}
}

@keyframes scroll-down {
  0% {
    /* top:20%; */
    opacity: 0;
  }
  30% {
    opacity: 1;
  }
  60% {
    opacity: 1;
  }
  100% {
    top: 90%;
    opacity: 0;
  }
}

/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/
.col-3 img{
    cursor: pointer;
}

.footer {
    background-color: #898989;
}

#footer {
    color: white;
    background-color: #898989;
    font-size: 25px;
    font-weight: bold;
}

.footer-button {
    transition: 0.3s;
    background-color: #898989;
    border: 0;
    font-weight: 700;
    color: #070C1C;
}

.footer-button:hover {
    transform: translateY(-2px);
    color: white;
}

.HIRED-US {
  transition: color 0.25s, border-color 0.25s, box-shadow 0.25s,transform 0.25s;
    background-color: #070C1C;
    color: white;
 	 border: 2px solid;
    border-radius: 90px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 18px;
    padding-right: 18px;
}

.HIRED-US:hover {
    color: #6FFFE9;
  	border-color: #6FFFE9;
  	box-shadow: 0 0.5em 0.5em -0.4em #6FFFE9;
    transform: translateY(-5px);
}

.row .footer-button-2{
    background-color: #898989;
	cursor: default;
    border: 0;
    color: #070C1C;
    font-weight: 400;
}
/*
.tooltip {
    position: absolute;
	cursor: default;
    z-index: 1;
	background-color: #555;
    color: #fff;
    padding: 5px;
    border-radius: 6px;
}*/
