/*--------------------------------------------------------------
# General
--------------------------------------------------------------*/
body {
	color: black;
	background-color: #ffffff;
	margin: 0;
	padding: 0;
}
html,
    body {
        width: 100%;
        height: 100%;
        margin: 0;
        padding: 0;
        overflow-x: hidden;
    }

    .container-contact {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .row {
        width: 100%;
        height: 100%;
    }

    #space-left {
        display: none;
    }

    @media only screen and (min-width: 768px) {
        #space-left {
            display: block;
        }
    }
/*
::-webkit-scrollbar {
  display: none;
}*/

/*--------------------------------------------------------------
# Mine
--------------------------------------------------------------*/
.navbar-brand img{
    margin-top: 2rem;
	width: 4rem ;
	height: 3rem ;
}

#space-left{
	padding: 0;
}

.contact-title{
    margin-top: 2rem;
    font-size: 3.5em;
}

.contact-par{
 font-size: 2.5rem;
}

.contact-par span{
    color: #6FFFE9;
}

#contact-right{
	position: relative;
	padding: 0;
}

#blue-shape {
	position: absolute;
    width: 35%;
    height: 100%;
  background-color: #1C2541;
  z-index: 1;
}

#aqua-box{
	position: absolute;
	z-index: 2;
	background-color: #6FFFE9;
	margin-top: 2rem;
	margin-right: 2rem;
    width: 70%;
    height: 45%;
}

#info{
	position: absolute;
	background-color: black;
	color: white;
	z-index: 3;
    width: 70%;
    height: 45%;
	padding-left: 2rem;
	padding-top: 2rem;
}

#info div{
	display: inline-flex;
}

#info span i{
    padding-top: 0.3rem;
    padding-right: 0.6rem;
}

.margin-div{
	margin-bottom:2rem;
}

@media (max-width: 768px) {
	
}

@media (max-width: 768px) {
	.contact-title{
    font-size: 2.5rem;
	}

	.contact-par{
	font-size: 1.5rem;
	}

	#contact-right {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin: 20px 0;
	color: white;
	background-color: black;
	}

	#contact-right h3 {
	font-size: 20px;
	margin-bottom: 10px;
	margin-top: 20px;
	}

	#contact-right span {
	display: flex;
	align-items: center;
	}

	#contact-right span i {
	margin-right: 10px;
	font-size: 16px;
	padding-bottom: 2rem;
	}

	#contact-right span div {
	font-size: 14px;
	}

}


/*------/ Prelaoder /------*/
#preloader {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 9999;
	overflow: hidden;
	background: #fff;
}

#preloader:before {
	content: "";
	position: fixed;
	top: calc(50% - 30px);
	left: calc(50% - 30px);
	border: 6px solid #f2f2f2;
	border-top: 6px solid #6FFFE9;
	border-radius: 50%;
	width: 60px;
	height: 60px;
	-webkit-animation: animate-preloader 1s linear infinite;
	animation: animate-preloader 1s linear infinite;
}

@-webkit-keyframes animate-preloader {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}

@keyframes animate-preloader {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}
/*------/ Button /------*/

.button {
	display: inline-block;
	padding: 0.3rem 0.6rem;
	text-align: center;
	vertical-align: middle;
	-webkit-user-select: none;
	-moz-user-select: none;
	user-select: none;
	font-size: 1rem;
	border-radius: 0.3rem;
	transition: all 1000ms ease;
	cursor: pointer;
    margin-bottom: 2rem;
    margin-top: 1rem;
	border: 0.25rem solid white;
}

.button:focus {
	outline: 0;
}

.button:hover {
	background-color: #1C2541;
	color: #6FFFE9;
	transition: all 1000ms ease;
	border: 0.25rem solid #6FFFE9;
}

.button-a {
	text-decoration: none;
	background-color: #6FFFE9;
	color: black;
	border-color: white;
}

.button-big {
	padding: 0.9rem 2.3rem;
	font-size: 1.2rem;
    font-weight: 500;
}

.button-rouded {
	border-radius: 5rem;
}

/*------/ Form /------*/
.form-group{
    transition:all .3s;
}

.form-control{
    box-shadow:none;
    border-radius:0;
    border-color:#6FFFE9;
    border-style:none none solid none;
    width:100%;
    font-size:1.05em;
    transition:all .6s;
}
.form-control::placeholder{
    color:#aaa;
}
.form-control:focus{
    box-shadow:none;
    border-color:#1C2541;
    outline:none;
}
.form-group:focus-within{
    transform:scale(1.01,1.01);
}
